lianja_ui_section,  lianja_ui_section * {
	background:transparent;
}
lianja_ui_section_formitem,  lianja_ui_section_formitem * {
	background:transparent;
}
*[lianja_ui_section_formitem_divider="1"] {
	background:darkred;
	color:yellow;
}
*[lianja_ui_section_formitem_gadget="1"] {
	background:darkred;
	color:yellow;
}
*[lianja_ui_section_formitem_data="1"] {
	color:white;
	border-radius:9px;
	background:black;
	width:300px;
	max-width:300px;
	height:36px;
}
lianja_ui_textbox {
	color:white;
	border-radius:9px;
	background:black;
}
*[lianja_ui_section_formitem_label="1"]
{
	color:yellow;
}









