{
"name" 		: "lianjarepotest",
"category"		: "Examples",
"author" 		: "Lianja Inc",
"description"	: "This is a simple example of a Lianja App from the repo.",
"version"		: "1.0",
"size"			: "2x1",
"backcolor" 		: "white",
"caption" 		: "lianjarepotest",
"icon"			: "lib:/images/rstep1.png",
"lastmodified"		: "{timestamp()}",
"appid" 		: "{guid()}"
}
