{
"name" 		: "lianjademo",
"category"		: "Examples",
"author" 		: "Lianja Inc",
"description"	: "This is a test",
"version"		: "1.0",
"size"			: "2x1",
"backcolor" 		: "black",
"caption" 		: "lianjademo test",
"icon"			: "lib:/icons/document.png'",
"lastmodified"		: "{timestamp()}",
"appid" 		: "{guid()}"
}
