lianja_ui_section_formitem,  lianja_ui_section_formitem * {
	background:transparent;
}
*[lianja_ui_section_formitem_divider="1"] {
	background:darkred;
	color:yellow;
}
*[lianja_ui_section_formitem_gadget="1"] {
	background:darkred;
	color:yellow;
}
*[lianja_ui_section_formitem_data="1"] {
	color:white;
	border-radius:9px;
	background:black;
}
lianja_ui_textbox {
	color:white;
	border-radius:9px;
	background:black;
}
